<!DOCTYPE html>
<html lang="en">
<head>
    <title>HideoutSMP | {{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href=/"media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/media/favicon/browserconfig.xml">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <script src="/static/js/default.js" defer></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="outer-container">
        <div class="container inner-container">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
