<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info@hideoutsmp.net</p>
                <a href="#" id="openContactForm">Contact Form</a>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="https://youtube.com/@itzMiney">YouTube</a> | <a href="https://twitter.com/@itzMiney">Twitter</a> | <a href="https://twitch.tv/itzminey">Twitch</a>
            </div>
            <div class="col-md-4">
                <h5>Links</h5>
                <ul>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/guidelines">Community Guidelines</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/cookie-policy">Cookie-Policy</a></li>
                    <li><a href="/imprint">Imprint</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2024 HideoutSMP. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
