/* Basic resets and typography */
body {
    font-family: Arial, sans-serif;
    background-color: #2E2E2E;
    color: #16071a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for centering content */
#container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header section with title and song select dropdown */
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Title positioning */
#title {
    font-size: 2em;
    color: #FFFFFF;
}

/* Song select dropdown styling */
#songSelectContainer {
    margin-left: auto;
}

#songSelect {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #555;
    background: #333;
    color: #FFF;
}

/* Container for the radio player */
#radioPlayer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fallback background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 100%;
	min-width: 800px;
    height: 150px;
    overflow: hidden;
}

/* Cover image styling */
#cover {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Container for the info and controls */
#infoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
}

/* Song details styling */
#songTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#artist, #album {
    color: #AAAAAA;
}

/* Audio player styling */
#audioPlayer {
    width: 100%;
	border-radius: 10px;
}
