body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #2D2D2D; /* Dark background for the entire page */
}

h1, h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

.outer-container {
  background-color: #37277A; /* Darker shade for padding background */
  display: flex;
  justify-content: center;
  padding: 0px;
}

.inner-container {
  background-color: #201749; /* Sleek dark purple for the inner container */
  height: 94.5vh;
  border-radius: 15px;
  margin: 25px;
}

.content {
  padding: 32px;
  font-family: 'Mukta', sans-serif;
  color: #EDEDED; /* Light color for better readability on dark background */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 40px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #534296; /* Darker purple for gallery items */
  padding: 20px;
  border-radius: 15px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.gallery-item:hover {
  background-color: #6A3C87; /* Slightly lighter purple for hover effect */
}

.gallery-item h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #EDEDED; /* Light text color for better readability */
}

.gallery-item a {
  text-decoration: none;
}
